---

---

<button class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
  button {
    background-color: transparent;
    border: 0;
  }
</style>
